<a href="https://wa.me/31983191984?text=Olha%20eu%20aqui!"
class="float"
style="
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 70px;
  right: 120px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  cursor: poiner;
  box-shadow: 2px 2px 3px #999;
"
>
<img
  src="https://trickuweb.com/whatsapp.png"
  alt=""
  height="60px"
  width="60px"
/>
</a>

      .register .nav-tabs .nav-link:hover {      }
      .text-align {}
      .form-new {}
      .register-heading {}
      .register-heading h1 {}
      .register {}
      .btnSubmit {}
   